.modal {
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
}

// Tamaños personalizados
.modal-xxl {
    max-width: 1440px;
}

// Para modales fullscreen (opcional)
.modal-fullscreen {
    width: 100vw;
    max-width: none;
    height: 100vh;
    margin: 0;
}