:root {
    --p-surface-0: #ffffff;
    /* Fondo principal claro */
    --p-surface-50: #f9fafb;
    /* Fondo secundario claro */
    --p-surface-100: #f3f4f6;
    --p-text-color: #111827;
    /* Color de texto oscuro */
}


/* Simulando tamaños estilo Bootstrap */
.dialog-sm {
    width: 300px !important;
}

.dialog-md {
    width: 600px !important;
}

.dialog-lg {
    width: 900px !important;
}

.dialog-xl {
    width: 1140px !important;
}

.dialog-xxl {
    width: 1400px !important;
}