:root {
    --p-surface-0: #ffffff;
    /* Fondo principal claro */
    --p-surface-50: #f9fafb;
    /* Fondo secundario claro */
    --p-surface-100: #f3f4f6;
    --p-text-color: #111827;
    /* Color de texto oscuro */
}